#outer-box {
    border-radius: 8px;
    border: 2px solid #f5c2e7;
    padding: 1rem;
}

#input {
    background-color: #181825;
    border: none;
    padding: 0.5rem;
    color: #d3d3d3;
}

#input:focus {
    border: 1px solid #f5c2e7;
    box-shadow: none;
}

#scroll {
    margin-top: 1rem;
}

#entry {
    border-radius: 5px;
    padding: 0.5rem;
}

#entry:selected {
    background-color: #f5c2e7;
    color: #1e1e2e;
    outline: none;
}

#text:selected {
    color: #1e1e2e;
}

window {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    background-color: #1e1e2e;
    color: #d3d3d3;
    border-radius: 8px;
}
